@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:700);

@font-face {
    font-family: 'Hand';
    src: url('../fonts/handwriting_font_by_shaketheskyy-webfont.eot');
    src: url('../fonts/handwriting_font_by_shaketheskyy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handwriting_font_by_shaketheskyy-webfont.woff') format('woff'),
         url('../fonts/handwriting_font_by_shaketheskyy-webfont.ttf') format('truetype'),
         url('../fonts/handwriting_font_by_shaketheskyy-webfont.svg#ChristinesfontRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Pro';
    src: url('../fonts/myriadpro-regular_0-webfont.eot');
    src: url('../fonts/myriadpro-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular_0-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-regular_0-webfont.svg#MyriadProRegular') format('svg');
    font-weight: bold;
    font-style: normal;

}

body {
	background: #F5F5F5;
}

a {
	color: #FFF;
}


.navbar {
	margin-bottom: 2px;
}

.navbar-inner {
	background-image: -moz-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -ms-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47A2DA), to(#2D80AA));
	background-image: -webkit-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -o-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: linear-gradient(top, #47A2DA, #2D80AA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47A2DA', endColorstr='#2D80AA', GradientType=0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a, .navbar .dropdown-menu a {
    color: #FFF;
}

.navbar .nav .active > a {
	background: #F5F5F5;
	color: #0E51A7;
  	text-decoration: none;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0.1);
}

.navbar .nav .active > a:hover {
	background: #287399;
}

.navbar .nav > li > a:hover {
	background: #287399;
}

.navbar .navbar-text {
	color: #FFF;	
}

.navbar-buttons {
	float: right;
}

.no-border-radius {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: -5px;
}

.logo {
 margin-top:-6px;
 margin-bottom:-7px;
}

.hero-unit {
	margin-bottom: 0px;
}

.footer-background {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
 	height:auto;
	text-align: center;
	background:none;
}

.footer1
{
 	padding-bottom: 4px;
  	height:auto;
  	color: #F5F5F5;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -ms-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47A2DA), to(#2D80AA));
	background-image: -webkit-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: -o-linear-gradient(top, #47A2DA, #2D80AA);
	background-image: linear-gradient(top, #47A2DA, #2D80AA);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47A2DA', endColorstr='#2D80AA', GradientType=0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.dialog-container {
	width: 800px;
	margin-left: -15px;
	min-height: 400px;
}

.dialog-left {
	float: left;
	width: 235px;
	padding-left: 15px;
}

.dialog-left .social-entry {
	height: 64px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dialog-left .social-entry .social-icon {
	float: left;
}

.dialog-left .social-entry .social-title {
	float: left;
	font-size: 1.2em;
	margin-top: 20px;
	color: #1f6081;
	font-family: 'Pro', sans-serif;
}

.dialog-right {
	float: left;
	width: 550px;	
}

.well {
	min-height: 340px;
}

.hand-text {
	font-family:Hand,serif;
	font-size: 30px;	
}

.more-info {
	font-size: 0.8em;
}

.more-info > a.more-info-a {
	color: #287399;
	text-decoration: underline;
}

.more-info > a.more-info-a:hover {
	color: #19597a;
	text-decoration: none;
}
#arrow-default-add-page{
	margin-top:50px;
	margin-left:-15px;
	position:absolute;
}
h4{
	font-family: 'Pro', serif;
	font-size:1.7em;
	color:#000;
	margin-top:120px;
	margin-left:150px;
}
.well .pro-text{
	font-family:'Pro',serif;
	margin-left:124px;
	margin-top:7px;
}

.well .pro-text-bottom{
	font-family:'Pro',serif;
	margin-left:74px;
	margin-top:2px;
}
.well .point-count{
	font-family: "Pro", sans-serif;
	font-size:1.5em;
	margin-top:125px;
	margin-left:160px;
}
.credits{
	color:#333333;
	font-size:1.6em;
}
#arrow-add{
	position:absolute;
	left:180px;
	top:90px;
}
#arrow-sign{
	position:absolute;
	right:150px;
	top:90px;
}
#home-title-one{
	position:absolute;
	left:-10px;
	top:60px;
}
#home-title-two{
	position:absolute;
	right:150px;
	top:60px;
}

#graphic{
	min-height:400px;
}

#graphic .pro-text-home{
	font-family:'Pro',serif;
	margin-left:124px;
	font-size:1.1em;
	color:#000;
}
.text-one{
	position:absolute;
	top:206px;
	left:-42px;
}
.text-two{
	position:absolute;
	top:220px;
	left:5px;
}
.text-three{
	position:absolute;
	top:206px;
	right:128px;
}
.text-four{
	position:absolute;
	top:220px;
	right:127px;
}

#counter-hold{
	width:435px;
	height:60px;
	margin:0px auto;
	padding-top:70px;
}
.counter-text{
	font-family:'Pro',serif;
	font-size:1.1em;
	color:#000;
	margin-left:80px;
}

.hero-unit p {
	font-size:1.1em;
}
#par-three{
	min-height:100px;
	background:#000000;
}

#par-four{
	min-height:100px;
	background:#000000;
}

#par-five{
	min-height:100px;
	background:#000000;
}

// media queries - later
@media only screen and (max-width: 480px){
	
}
